{% extends 'base.html.twig' %}

{% block title %}Hello RestauranteController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ controller_name }}! ✅</h1>

    Listado de restaurantes:
    {% for restaurante in listadoRestaurantes %}
        <ul>
            <li>
            <h2> {{restaurante.getNombre()}} {{restaurante.getId()}} 
            <button>
                <a href="{{path('mostrar_restaurante', {idRestaurante: restaurante.getId()})}}"> DETALLES </a>
            </button>
            <button>
                <a href="{{path('actualizar_restaurante', {idRestaurante: restaurante.getId()})}}"> ACTUALIZAR </a>
            </button>
            <!-- Con la ayuda de ChatGPT: Este form sirve para poder pasarle a la funcion DELETE un boton que envie directamente una peticion POST
         y además puedo usar un modal para preguntarle al usuario si quiere eliminar el restaurante o no -->
            <form action="{{ path('eliminar_restaurante', {idRestaurante: restaurante.getId()}) }}" method="POST" style="display:inline;">
                <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este restaurante?');">ELIMINAR</button>
            </form>
            </h2>
            </li>
        </ul>
    {% endfor %}

    <!-- Con la ayuda de ChatGPT: Muestra todos los mensajes flash que he guardado. En este caso, los he utilizado en la funcion del DELETE -->
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    <br>
    <div>
    <button> 
        <a href="{{path('crear_restaurante')}}">CREAR RESTAURANTE</a>
    </button>
    <button> 
        <a href="{{path('mostrartodos_visita')}}">VER VISITAS</a>
    </button>
    </div>
    
</div>
{% endblock %}
